# CodeIgniter / proje
/vendor/
/writable/cache/*
/writable/logs/*
/writable/session/*
/writable/uploads/*
/writable/debugbar/*
!/writable/**/index.html

# Ortam
.env

# Editor / OS
.idea/
.vscode/
*.log
.DS_Store
Thumbs.db
